<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
        
    </script>
    <title></title>
</head>
<body>
    <div class="container">
        <div  *ngFor="let button of array">
            <button class="one" [class.unanswered]="check===true" (click)="change($event)" id="clic"><a href="/cmp1">{{button}}</a></button>   
        </div>
    </div>
    
</body>
</html>