*{
    margin: 4px;
    padding: 5px;
    text-decoration: none;   
}
.one{
    background-color: violet;
    color:yellow;
    padding: 1px;
    text-align:start;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#unanswered{
    background-color: blue;
    border-radius: 3px;
}
.unanswered{
    background-color: grey;
    border-radius: 4px;
    height: 35px;
    width: 35px;    
}
.check1{
    background-color: red;
    color: beige;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

